.itemListInfoCounter {
    color: inherit;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 13px auto;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
    font-size: 14px;

    p {
        margin: 0;
        padding: 0;
    }

    svg {
        width: 100%;
        overflow: visible;
    }
}    