
@import '../../styles/constants/mixins.scss';

.itemListInfoCounter {
    color: inherit;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 13px auto;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
    font-size: 14px;

    @include lg-bp {
        font-size: 2lvh;
        grid-template-columns: 1.5lvh auto;
    }


    p {
        margin: 0;
        padding: 0;
    }

    svg {
        width: 100%;
        overflow: visible;
    }
}    