$primary-main-color: #FFFCE9;
$primary-light-color: #EFE6C7;
$primary-hightlight-color: #fffce980;
$primary-hightlight-color-80 : rgba(255, 252, 233, .8);
$primary-dark-color: #a69f89;
$primary-text-color: #6b6750;
$dark-gray-color: #3E3E3E;
$half-transparent: rgba(255, 252, 233, 0.5);