@import '../../styles/constants/mixins.scss';

.homePageContent {
    $gap: 60px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 100%;
    max-width: 70vw;
    max-height: 70vh;
    display: grid;
    grid-gap: $gap;
    grid-template-columns: calc(50% - $gap/2) calc(50% - $gap/2);
    z-index: 3;
    pointer-events: none;
    grid-auto-flow: column;
    transition: top 1s ease;

    @include tablet-bp {
        grid-auto-flow: row;
        max-width: 90vw;
        max-height: 70vh;
    }

    &_column {
        pointer-events: all;
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 70vh;
        transition: transform 1s ease;
        transform: translateY(108%);

        @include tablet-bp {
            transform: translateY(200%);
        }

        &-centered {
            transform: translateY(0);
        }
    }


}