.pageContent {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    z-index: 2;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

// change width and height to 120%