.pageContent {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    z-index: 2;
    display: grid;
    min-height: 100vh;
    transition: transform .5s;

    &-disabled {
        filter: blur(2px);
    }
}

// change width and height to 120%