@import '../../styles/constants/variables.scss'; 

.lightSongLogoIcon {
    user-select: none;
    color: $secondary-light-color;
    max-width: 515px;
    max-height: 505px;
    transition: color 1s;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    * {
        z-index: -1; 
    }

    &-highlighted {
        z-index: 1;
        * {
            z-index: 1; 
        }
        color: $secondary-dark-color
    }
}
