@import '../../styles/constants/variables.scss'; 

.lightSongLogoIcon {
    color: $primary-light-color;
    max-width: 100%;
    max-height: 100%;
    transition: all 1s;
    position: relative;
    z-index: inherit;
    filter: none;

    &-highlighted {
        filter: drop-shadow(-5px 5px 2px $primary-text-color);
        color: $primary-dark-color
    }
}
