@import '../../styles/constants/variables.scss'; 

.profileCreated {
    width: 100%;
    background: $half-transparent;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    display: grid;
    justify-items: center;
    align-items: center;



    :global(.listParent) {
        grid-template-columns: 50% 50%;
    }
}
